@model List<EZCourse.Controllers.TestController.User>
@{

    ViewData["Title"] = "Title of Test - Index";

}


<h1>Hi, I am Test - Index</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <th>@user.Id</th>
            <th>@user.Name</th>
        </tr>
    }
</table>

