
@{
    Layout = "_TestLayout";
    ViewData["Title"] = "Title of Test - Index";
}


<h1>Hi, I am Test - Index</h1>

@section Scripts{
    <script>
        alert('I am Test - Index');
    </script>
}
